---
services:
  lidarr:
    image: linuxserver/lidarr:latest
    container_name: lidarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Los_Angeles
    volumes:
      - /appdata/lidarr:/config
      - /pool/data/media/Music:/music
      - /home/8853/Downloads/Complete:/downloads
    ports:
      - 8686:8686
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8686/ping" ]
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 30s
    restart: unless-stopped
  radarr:
    image: linuxserver/radarr:develop
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Los_Angeles
    volumes:
      - /appdata/radarr:/config
      - /pool/data/media/Movies:/movies
      - /home/plex/Downloads/Complete:/downloads
    ports:
      - 7878:7878
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:7878/ping" ]
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 30s
    restart: unless-stopped
  sonarr:
    image: linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Los_Angeles
    volumes:
      - /appdata/sonarr:/config
      - /pool/data/media/TV:/tv
      - /home/plex/Downloads/Complete:/downloads
    ports:
      - 8989:8989
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8989/ping" ]
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 30s
    restart: unless-stopped
  prowlarr:
    image: linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Los_Angeles
    volumes:
      - /appdata/prowlarr:/config
    ports:
      - 9696:9696
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9696/ping" ]
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 30s
    restart: unless-stopped
  readarr:
    image: linuxserver/readarr:0.4.19-nightly
    container_name: readarr
    ports:
      - 8787:8787
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=America/Los_Angeles
    volumes:
      - /appdata/readarr:/config
      - /pool/data/media/Audiobooks/:/audiobooks
      - /pool/data/media/Books/:/books
      - /home/plex/Downloads/Complete:/downloads
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8787/ping" ]
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 30s
    restart: unless-stopped

  overseerr:
    container_name: overseerr
    image: linuxserver/overseerr:latest
    environment:
      - LOG_LEVEL=debug
      - TZ=America/Los_Angeles
    ports:
      - '5055:5055'
    volumes:
      - /appdata/overseerr:/app/config
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:5055/api/v1/status" ]
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 30s
