---

- name: Set lid functions
  ansible.builtin.lineinfile:
    path: /etc/systemd/logind.conf
    regexp: "^#HandleLidSwitchExternalPower"
    line: "HandleLidSwitchExternalPower=ignore"

- name: Reload systemd and systemd-logind
  ansible.builtin.systemd_service:
    state: restarted
    daemon_reload: true
    name: systemd-logind

- name: Add user to docker group
  ansible.builtin.user:
    name: "{{ ubuntu_username }}"
    groups: docker
    append: yes
