---
services:
  plex:
    image: linuxserver/plex:latest
    container_name: plex
    runtime: nvidia
    network_mode: host
    privileged: true
    restart: unless-stopped
    environment:
      - VERSION=docker
      - TZ=America/Los_Angeles
      - PUID=1000
      - PGID=1000
      - UMASK=022
      - NVIDIA_VISIBLE_DEVICES=all
      #- PLEX_CLAIM=##USE##YOUR#OWN## # https://plex.tv/claim/
      - 'ADVERTISE_IP=http://192.168.1.15:32400/,https://justice-plex/'
    volumes:
      - /appdata/plex:/config
      - /appdata/plex/transcode:/transcode
      - /pool/data/media:/media
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:32400/web" ]
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 30s
