---
services:
  gluetun:
    image: qmcgaw/gluetun
    container_name: gluetun
    # network_mode: host
    # network_mode: bridge
    privileged: true
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    volumes:
      - /appdata/gluetun:/gluetun
    env_file:
      - .env
    environment:
      - TZ=America/Los_Angeles
      #- #VPN_TYPE=##USE##YOUR#OWN##
      #- #VPNSP=##USE##YOUR#OWN##
      #- #REGION=##USE##YOUR#OWN##
      #- #OPENVPN_USER=##USE##YOUR#OWN##
      #- #OPENVPN_PASSWORD=##USE##YOUR#OWN##
      - VPN_SERVICE_PROVIDER=privado
      - SERVER_COUNTRIES=United States
    ports:
      - 6881:6881/tcp # QBittorrent
      - 6881:6881/udp # QBittorrent
      - 8080:8080
      - 8888:8888/tcp # HTTP proxy
      - 8388:8388/tcp # Shadowsocks
      - 8388:8388/udp # Shadowsocks
    restart: unless-stopped
  ## Q Bittorrent
  # https://hub.docker.com/r/linuxserver/qbittorrent
  # DEFAULT PASSWORD IS admin/adminadmin
  qbittorrent:
    image: linuxserver/qbittorrent:latest
    container_name: qbittorrent
    privileged: true
    network_mode: "container:gluetun"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Los_Angeles
      - WEBUI_PORT=8080
    volumes:
      - /appdata/qbittorrent:/config
      - /home/plex/Downloads/Complete:/downloads
      - /pool/data/media:/media
    restart: unless-stopped
  sabnzbd:
    image: linuxserver/sabnzbd:latest
    container_name: sabnzbd
    privileged: true
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Los_Angeles
    volumes:
      - /appdata/sabnzbd:/config
      - /home/plex/Downloads/Complete:/complete
      - /home/plex/Downloads/Incomplete:/incomplete
    ports:
      - 8081:8080
    restart: unless-stopped
